
:root {
    /*Font families*/
    --font-primary: Inter, sans-serif;
    --font-start-state: 'Space Grotesk', sans-serif;

    /*Font sizes*/
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-xlarge: 36px;
    --font-size-xxlarge: 78px;

    /*Spacing*/
    --spacing-small: 8px;
    --spacing-medium: 16px; 
    --spacing-large: 24px;
}

/*Text styling*/
h1 {
    margin-top: 20px;
    font-size: var(--font-size-xlarge);
    font-family: var(--font-primary);
}

h2 {
    margin-top: 20px;
    font-size: var(--font-size-large);
    font-family: var(--font-primary);
}

p {
    margin-top: 10px;
    font-size: var(--font-size-medium);
    font-family: var(--font-primary);
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;

}

/*Styling for start state*/
body.start-state {
    background: linear-gradient(135deg, #eefccd, #a4c4ea);
    color: #172a57;
}

.start-state #searchInput {
    padding: 20px;
    font-size: var(--font-size-large);
    width: 50%;
    max-width: 90%;
}

.start-state #searchButton {
    padding: 20px;
    font-size: var(--font-size-large);
    margin-left: 10px;
}

.start-state h1 {
    text-align: left;
    font-size: var(--font-size-xxlarge);
    font-family: var(--font-start-state);
    
}

/*Styling for result state*/
.result-state #searchInput {
    padding: 5px;
    font-size: var(--font-size-small);
    width: 30%;
    max-width: 50%;
    
}

.result-state #searchButton {
    padding: 5px;
    font-size: var(--font-size-small);
    margin-left: 10px;
}

.result-state h1 {
    text-align: center;
    font-size: var(--font-size-large);
    font-family: var(--font-primary);
}

.weather-container {
    display: none;
    padding: 20px;
    background-color: aliceblue;
    background: linear-gradient(135deg, #e6e6e6, #d0d0d0);
    background: opacity(2.0);
    border-radius: 20px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#temperature {
    font-size: 48px;
    font-family: Inter, sans-serif;
    padding: 20px;
}
